<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pro.upchain.wallet">

    <uses-sdk tools:overrideLibrary="cn.bingoogolapple.photopicker" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activity.TransferDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DappTransferActivity"
            android:theme="@style/activityDialogTheme" />
        <activity
            android:name=".ui.activity.DappActivity2"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DappActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChangeLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RecoverWalletActivity"
            android:theme="@style/fullStatusBarTheme" />
        <activity android:name=".TestActivity">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullStatusBarTheme" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.AssetManagementActivity" />
        <activity android:name=".ui.activity.QRCodeScannerActivity" />
        <activity android:name=".ui.activity.CreateWalletActivity" />
        <activity android:name=".ui.activity.AddTokenActivity" />
        <activity android:name=".ui.activity.AddCustomTokenActivity" />
        <activity android:name=".ui.activity.GatheringQRCodeActivity" />
        <activity android:name=".ui.activity.ContactsActivity" />
        <activity android:name=".ui.activity.SendActivity" />
        <activity android:name=".ui.activity.PropertyDetailActivity" />
        <activity android:name=".ui.activity.WalletMangerActivity" />
        <activity android:name=".ui.activity.MessageCenterActivity" />
        <activity android:name=".ui.activity.SystemSettingActivity" />
        <activity android:name=".ui.activity.LanguageSettingActivity" />
        <activity android:name=".ui.activity.CurrencyUnitSettingActivity" />
        <activity android:name=".ui.activity.Web3SettingActivity" />
        <activity android:name=".ui.activity.NetSettingActivity" />
        <activity android:name=".ui.activity.TransactionsActivity" />
        <activity android:name=".ui.activity.SwitchWalletActivity" />
        <activity android:name=".ui.activity.WalletBackupActivity" />
        <activity android:name=".ui.activity.MnemonicBackupActivity" />
        <activity android:name=".ui.activity.VerifyMnemonicBackupActivity" />
        <activity android:name=".ui.activity.ImportWalletActivity" />
        <activity android:name=".ui.activity.WalletDetailActivity" />
        <activity android:name=".ui.activity.ModifyPasswordActivity" />
        <activity android:name=".ui.activity.ExportKeystoreActivity" />
        <activity android:name=".ui.activity.HelpActivity" />
        <activity android:name=".ui.activity.TransactionDetailActivity" />
        <activity android:name=".ui.activity.ConfirmationActivity" />
    </application>

</manifest>